@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --clr-red01: #3D0000; 
    --clr-red02: #950101; 
    --clr-red03: #FF0000;
    --clr-orange01: #d37f00;
    --clr-orange02: #ff9900;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    height: 100%;
}

body {
    background: var(--clr-red01);
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#login {
    background: white;
    border-radius: 20px;
    width: 250px;
    height: 520px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section div#login-img {
    display: block;
    height: 200px;
    background:  var(--clr-red03) url('../img/pexels-joão-jesus-925711.jpg') no-repeat center top;
    background-size: cover;
}

section div#login-form {
    display: block;
    padding: 10px;
}

div#login-form h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#login-form p {
    font-size: 0.8em;
}

form div.login-area {
    background: #3D0000;
    height: 40px;
    border: 2px solid #3D0000;
    border-radius: 9px;
    margin: 5px 0;
}

form label {
    display: none;
}

div.login-area span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 4px;
}

div.login-area input {
    background: #ff9e9e;
    font-size: 1em;
    border: none;
    height: 100%;
    width: calc(100% - 43px);
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.login-area input:focus {
    transition: background ease .3s;
    background: white;
    outline: none;
}

form input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background: var(--clr-red03);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background ease .3s;
}

form input[type=submit]:hover {
    background: var(--clr-red02);
}

form a.forgetbtn {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    color: var(--clr-orange01);
    border: 2px solid var(--clr-orange01);
    border-radius: 7px;
    text-decoration: none;
    transition: all ease .3s;
}

form a.forgetbtn span {
    font-size: 1.2em;
    vertical-align: middle;
}

form a.forgetbtn:hover {
    background: var(--clr-orange02);
    border: var(--clr-orange02);
    color: white;
}